
<div class="container">
  <%= simple_form_for @restaurant do |r| %>
  <%= r.input :name %>
  <%= r.input :location %>
  <%= r.input :category %>
  <%= r.button :submit, class: "btn btn-primary"%>
  <% end %>
</div>
